In [1]:
print("Hello")

Hello

In [11]:
a = 5
b = 10.5
print(a+b)
# Run - Shift + Enter
print(type(a))
print(type(b))

15.5
<class 'int'>
<class 'float'>

In [6]:
name = input()
print("Hi" + name)
print(name)
print(type(name))
print(len(name))

10 20 30
Hi10 20 30
10 20 30
<class 'str'>
8

In [13]:
a = "hello"

In [14]:
print(type(a))

<class 'str'>

In [22]:
a = int(input("Enter First Number"))
b = int(input("Enter Second Number"))
c = a*b
print("Sum is ",a+b,c,end=",")
print("Sum is %d Product is %d"%(a+b,c))

Enter First Number10
Enter Second Number20
Sum is  30 200,Sum is 30 Product is 200

In [29]:
print("Hello ","Everyone","Not_Everyone",sep="-",end=" ")
print("World!")

Hello -Everyone-Not_Everyone World!

In [49]:
# List in Python
l = [1,2,3]
l.append(5)
l.insert(3,4)
print(l)
print(type(l))
print(l[1])

[1, 2, 3, 4, 5]
<class 'list'>
2

In [43]:
# Acess Elements of the List (0 based indexing)
print(len(l))
print("First ",l[0])
print("Last ",l[-1])

5
First  1
Last  5

In [44]:
# 1 2 3 4 5 
# 0 1 2 3 4
# -5 -4 -3 -2 -1

In [50]:
# Slicing 
l[1:3]

[2, 3]

In [52]:
l

[1, 2, 3, 4, 5]

In [57]:
l[ :  :2]

[1, 3, 5]

In [59]:
# While Loop
n = int(input())
i=1
l = []
while i<=n:
    no = int(input())
    l.append(no)
    i = i + 1
print(l)

3
1
2
11
[1, 2, 11]

In [64]:
numbers = input().split()
print(numbers)
print(type(numbers))

10 20 30
['10', '20', '30']
<class 'list'>

In [66]:
s = "Hello World, How is the weather today?"
s.split(",")

['Hello World', ' How is the weather today?']

In [69]:
nl = []
for number in numbers:
    #print(number,type(number))
    nl.append(int(number))

In [70]:
nl

[10, 20, 30]

In [78]:
#List Comprehension
squares = [x**2 for x in nl]
print(squares)

[100, 400, 900]

In [79]:
#Input List Compreshension
numbers = [ int(x) for x in input().split()]
print(numbers)

10 20 30 40
[10, 20, 30, 40]

In [81]:
print("Hello "*5)

Hello Hello Hello Hello Hello

In [82]:
sentence = "How are you ?"
words = sentence.split()
print(words)

['How', 'are', 'you', '?']

In [86]:
'+'.join(words)

'How+are+you+?'

In [88]:
# String Concatenation
s1 = "Hello "
s2 = "World !"
s1 + s2

'Hello World !'

In [98]:
# Range Function -> Loops
for i in range(6,-1,-2):
    print(i)

6
4
2
0

In [99]:
# Conditional Statments 
# Functions

In [102]:
def fact(n):
    ans = 1
    for i in range(1,n+1):
        ans = ans*i
    return ans

In [103]:
fact(5)

120

In [112]:
def checkPrime(n):
    
    for i in range(2,int(n**0.5)+1):
        if n%i==0:
            return False
        elif n==5:
            print("Five")
        else:
            print("nothing")  
    return True

In [111]:
checkPrime(7)

nothing

True

In [ ]:
# Pattern - 1
*
**
***
****
# Pattern -2 
  *     # n - i spaces, 2i-1 stars
 ***
*****

In [118]:
def pattern1(n):
    for i in range(1,n+1):
        print("*"*i)
    
    #Pattern 2
    for i in range(1,n+1):
        print(" "*(n-i),"*"*(2*i-1),sep="")

In [119]:
pattern1(4)

*
**
***
****
   *
  ***
 *****
*******

In [121]:
print("hi","cb",sep="")

hicb

In [124]:
# List
l = [1,2,3,4,"hello",5.6,[9,10]]
print(l)
print(type(l))
l[0] = 10
print(l)

[1, 2, 3, 4, 'hello', 5.6, [9, 10]]
<class 'list'>
[10, 2, 3, 4, 'hello', 5.6, [9, 10]]

In [127]:
# Tuple - Read only List
l = (1,2,3,4,"hello",5.6,[9,10])
print(l)
print(type(l))

(1, 2, 3, 4, 'hello', 5.6, [9, 10])
<class 'tuple'>

In [128]:
l.count(4)

1

In [129]:
l.index(2)

1

In [132]:
distances = [10,20,16,19,11,0,4]

distances = sorted(distances,reverse=True)
print(distances)

[20, 19, 16, 11, 10, 4, 0]

In [141]:
a = [4,3,1]
a.sort()
print(a)

[1, 3, 4]

In [151]:
def comp(x):
    return x[0]

In [153]:
cars = [("C1",10),("C5",5),("C4",8)]

cars = sorted(cars,key=lambda x:x[1])
cars = sorted(cars,key=comp)
print(cars)

[('C1', 10), ('C4', 8), ('C5', 5)]

In [154]:
print(sorted([1,2,0]))

[0, 1, 2]

In [155]:
print(a)

[1, 3, 4]

In [171]:
# Dictionary  (hashmap)
price_menu = {
    "Mango":{"Green":60,"Sweet":80},
    "Apple":[90,110],
    "Guava":30
}

In [169]:
price_menu["Apple"]

[90, 110]

In [168]:
price_menu["Mango"]["Sweet"]

80

In [172]:
if price_menu.get("Banana") is None:
    print("not found")
else:
    print(price_menu["Banana"])

not found

In [176]:
fruits = list(price_menu.keys())
print(fruits)

['Mango', 'Apple', 'Guava']

In [178]:
prices = list(price_menu.values())
print(prices)

[{'Green': 60, 'Sweet': 80}, [90, 110], 30]

In [182]:
for x in price_menu.items():
    print(x)

('Mango', {'Green': 60, 'Sweet': 80})
('Apple', [90, 110])
('Guava', 30)

In [184]:
list(price_menu.items())

[('Mango', {'Green': 60, 'Sweet': 80}), ('Apple', [90, 110]), ('Guava', 30)]

In [204]:
countries = ["India","US","England"]
capitals = ["Delhi","Washigton","London"]

country_map = dict(zip(countries,capitals))

In [205]:
print(country_map)

{'India': 'Delhi', 'US': 'Washigton', 'England': 'London'}

In [206]:
country_map["India"]

'Delhi'

In [207]:
z = zip(countries,capitals,capitals)

In [208]:
for x in z:
    print(x)

('India', 'Delhi', 'Delhi')
('US', 'Washigton', 'Washigton')
('England', 'London', 'London')